-var pictures = JSON.parse(post.gallery)
.post
  .post-head
    .post-gallery
      .col-6-cycle
        .post-head__picture.post-head__picture_sm(style="background-image: url(" + pictures[0] + ")")
      .col-6-cycle
        .post-head__picture.post-head__picture_sm(style="background-image: url(" + pictures[1] + ")")
      .col-6-cycle
        .post-head__picture.post-head__picture_sm(style="background-image: url(" + pictures[2] + ")")
      .col-6-cycle
        .post-head__picture.post-head__picture_sm(style="background-image: url(" + pictures[3] + ")")
          .post-gallery__text= pictures.length
  .post-body
    .post-body__action= post.action
    .post-body__date= post.date
    h2.post-body__title= post.title
    .post-body__text= post.text
    .post-body__footer
      a.post-body__button(href="/" + post.id) read more
      .post-body__tags= post.hashtags
